.ProfileHeader {
    width: 100%;
    min-height: 250px;
    background-image: url("./../../../images/mountain-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 29%;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 8px;
    margin-bottom: 10px;
}

