@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
/*font-family: 'Montserrat', sans-serif;*/

.header {
    grid-area: header;
    display: flex;
    align-items: start;
    justify-content: center;
    background: #F9F9F9;
    margin-bottom: 10px;
}

.headerWrapper {
    display: flex;
    align-items: center;
    min-height: 60px;
    width: 1200px;
    background: #FFFFFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 0 0 10px 10px;
}

.logo {
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin-right: 10px;
}

.logoName {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
}