@import url("./normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.appWrapper {
    background: #F9F9F9;

}

.appContainer {
    display: grid;
    grid-template-areas:
    "header header"
    "navBar profileSection";
    width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}

.appWrapperContent {
    grid-area: profileSection;
    display: flex;
    align-items: start;
    justify-content: start;
    box-sizing: border-box;
    flex-direction: column;
    min-height: calc(100vh - 80px);
    width: 1000px;
    margin-bottom: 10px;
}


